@media (max-width: 1200px) {
    .services_item {
        display: flex;
        flex-direction: column;
        img {
            display: block;
            margin: 0 auto 15px;
        }
    }

}
@media (max-width: 991px) {
    .header {
        min-height: 700px;
        &_promo {
            padding-top: 100px;
        }
    }
    .services {
        .container {
            width: 100%;
        }
        &_item {
            &_text {
                max-width: 300px;
            }
        }
    }
    .benefits, .call-order {
        padding-top: 35px;
        .wrapper {
            padding-top: 20px;
        }
        &_item {
            padding-top: 50px;
            &-header {
                padding-top: 20px;
            }
        }
    }
    .call-order {
        &_info {
            display: none;
        }
    }
}
@media (max-width: 767px) {
    .header {
        &_upper {
            &_phone {
                width: 33px;
                height: 33px;
                i {
                    font-size: 16px;
                }
            }
            &_nav-list {
                padding: 0;
                &-item {
                    margin-left: 7px;
                    a {
                        padding: 5px;
                    }
                }
            }
        }
        &_promo-header {
            padding-top: 70px;
            font-size: 45px;
            line-height: 1.2;
            overflow: hidden;
        }
        &_promo-subheader {
            padding-top: 20px;
            font-size: 38px;
        }
    }
    .services {
        .wrapper {
            padding-top: 0;
        }
        &_item {
            padding-top: 40px;
            &_text {
                &_header {
                    text-align: center;
                }
                display: block;
                margin: 0 auto;
                max-width: 550px;
            }
        }
    }
    .benefits_item {
        img {
            width: 140px;
        }
    }
}
@media (max-width: 575px) {
    .header_upper_nav-list-item {
        padding: 17px 10px;
    }
    .menu{
    position: fixed;
    flex-direction: column;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding: 20px;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: .7);
    transition: 0.35s all;
    &_active {
        right: 0;
    }
    }
    .hamburger {
        display: block;
        position: absolute;
        width: 26px;
        right: 25px;
        top: 50%;
        transform: translateY(-50%);
        height: auto;
        // transition: .6s all;
        cursor: pointer;
        span {
            display: block;
            width: 100%;
            height: 2px;
            margin-bottom: 3px;
            background-color: #fff;
        }
        &_active {
            height: 70px;
            padding-top: 35px;
            span {
                margin-bottom: -3px;
                &:nth-child(1) {
                    transform: rotate(-45deg);
                }
                &:nth-child(2) {
                    display: none;
                }
                &:nth-child(3) {
                    transform: rotate(45deg);
                }
            }
        }
    }
    .footer {
        &_logo {
            img {
                width: 94px;
            }
        }
        &_social {
            align-items: center;
            flex-direction: column;
        }
    }
}
@media (max-width: 321px) {
    .header {
        min-height: 580px;
        &_upper {
            // &_phone {
            //     width: 20px;
            //     height: 20px;
            //     i {
            //         font-size: 12px;
            //     }
            // }
            &_nav-list {
                padding: 0;
                &-item {
                    margin-left: 7px;
                    a {
                        padding: 5px;
                    }
                }
            }
        }
        &_promo {
            padding-top: 90px;
            &-header {
                padding-top: 10px;
                font-size: 30px;
                line-height: 1.2;
                overflow: hidden;
            }
            &-subheader {
                padding-top: 20px;
                font-size: 20px;
            }
        }
    }
    .examples_control {
        width: 100%;
        &_item {
            padding: 10px;
        }
    }
}